body {
  font-family: 'copse','serif';
  color: #44586e;
}
hr {
  border-color: grey;
  margin: 2% 20%;
}
.perso_policeTitre {
  font-family: 'Roboto', sans-serif;
}

.perso_shadow{
  box-shadow : 0px 2px 15px black;
} 
.perso_logoSize {
  width: 100px;
}
.perso_ColorRoseMenu{color : #FF00FF !important;}
.perso_ColorOrangeMenu{color : rgb(247, 179, 91) !important;}
.perso_ColorVertMenu{color : #34C924 !important;}
.perso_ColorRougeMenu{color : rgb(230, 78, 78) !important;}
.perso_ColorAdminMenu{color : #fa0303 !important;}
.perso_ColorBleuCielMenu{color : rgb(138, 9, 47) !important;}
.perso_bgGreen{background-color: rgb(199, 224, 199) !important;}
.perso_bgPink{background-color: rgb(247, 180, 200) !important;}
.perso_size20{font-size:20px;}
.perso_size12{font-size:12px;}
.perso_minCorpSize{min-height: 500px;}
.perso_textShadow{text-shadow:  1px 1px black;}


  @import "node_modules/bootstrap/scss/bootstrap";